/*Define the style of heading*/
#title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 15px -10px 15px;
}

/* Define the style of the value and rank*/
.subheader, #value{
  color: rgba(139,0,0,1);
  font-size: 15px;
  font-weight: bold;
}
.leaflet-bottom.leaflet-right {
    display: none;
}

span.description {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 400px;
    font-size: smaller;
    color: #666;
}
h3{
  padding-left:10px;
}
.chart-container:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chart-container:nth-of-type(4) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



@media (min-width:1850px)
 {
  .container{
   width:1800px 
 }
 }
